html {
    background-color: #242424;
    background-image: url(animatedbg.gif);
    background-repeat: repeat;
    background-size: cover;


        
    
    
    
}


h1 {
    color: white;
    font-family: 'Mukta', sans-serif;
    text-align: center;
    text-shadow: 5px 5px 7px rgb(0, 197, 231);

    -webkit-animation: trzs 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: trzs 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

#pfp {
    width: 150px;
    border-radius: 100px;
    box-shadow: 5px 10px 20px #0083ee;

    
      -webkit-animation: scic 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
              animation: scic 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    

}

 @-webkit-keyframes scic {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scic {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}


#pfp:hover {
    width: 200px;
    box-shadow: 5px 10px 20px #0083ee;
    border-style: none;
    background-blend-mode:lighten
}

h2 {
    color: white;
    font-family: 'Mukta', sans-serif;
    text-shadow: 5px 5px 7px rgb(0, 197, 231);
    text-align: center;

    -webkit-animation: trzs 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: trzs 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

h3 {
    color: white;
    font-family: 'Mukta', sans-serif;
    text-shadow: 5px 5px 7px rgb(0, 197, 231);
    text-align: center;
    font-size: 40px;

    -webkit-animation: trzs 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: trzs 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

 @-webkit-keyframes trzs {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes trzs {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}



#discord {
    background-color: #242424;
    width: 200px;
    height: 100px;
    border-radius: 20px;

    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

#discord:hover {
    width: 100px;
    box-shadow: 5px 5px 7px rgb(0, 108, 231);
}

#dclogo {
    width: 70px;
    display: inline-block;
}

#links {
    display: inline-block;
}

#ytlogo {
    width: 90px;
    display: inline-block;
}

#youtube {
    background-color: #242424;
    width: 200px;
    height: 100px;
    border-radius: 20px;

    -webkit-animation: yt 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: yt 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

#youtube:hover {
    width: 100px;
    box-shadow: 5px 5px 7px rgb(255, 0, 0);;
}


@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @-webkit-keyframes yt {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes yt {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }



 
  
#projects {
    background-color: #242424;
    width: 200px;
    height: 100px;
    border-radius: 20px;

    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
} 

#codelogo {
  width: 60px;
  display: inline-block;
}

#projects:hover {
  width: 100px;
  box-shadow: 5px 5px 7px rgb(0, 255, 234);;
}


#twitter {
  background-color: #242424;
  width: 200px;
  height: 100px;
  border-radius: 20px;

  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

#twitter:hover {
  width: 100px;
  box-shadow: 5px 5px 7px rgb(4, 0, 255);;
}

#twitterlogo {
  width: 60px;
  display: inline-block;
}
